@model WebApplication.Models.BoardModel

@{
    ViewBag.Title = "/" + Model.ShortName + "/ - " + Model.Name;
}
@Styles.Render("~/Styles/forum")
@Scripts.Render("~/Scripts/forum")
<script src="https://www.google.com/recaptcha/api.js?hl=en" async defer></script>

<a href="@Url.Action("Index")">[Back]</a>

<hr />
@foreach (var thread in Model.Threads.Where(x => x.Posts.Any()).OrderByDescending(x => x.Posts.First().Timestamp))
{
    var firstPost = thread.Posts.First();
    var messagesCount = thread.Posts.Count();
    <div class="post-container clickable" data-link="@Url.Action("Thread", "Forum", new {threadId = thread.Id})">
        <div class="post first-post">
            <div class="post-header"><b>@firstPost.Topic</b> @firstPost.Username @firstPost.Timestamp.ToString("dd-MM-yyyy HH:mm:ss") No.@firstPost.Id</div>
            <div class="post-message">@Html.Raw(firstPost.Text)</div>
            <div class="text-muted">@(messagesCount - 1) @(messagesCount - 1 == 1 ? "reply" : "replies")</div>
        </div>
    </div>
    foreach (var data in thread.Posts.Select((e, i) => new { Index = i, Post = e }).Skip(1).Skip(messagesCount > 4 ? messagesCount - 4 : 0))
    {
        <div class="post-container">
            <div class="post">
                <div class="post-header">@data.Post.Username @data.Post.Timestamp.ToString("dd-MM-yyyy HH:mm:ss") #@(data.Index + 1) No.@data.Post.Id</div>
                <div class="post-message">@Html.Raw(data.Post.Text)</div>
            </div>
        </div>
    }
    <hr />
}

<div class="well col-md-6 col-md-offset-3">
    @using (Html.BeginForm("AddThread", "Forum", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <fieldset>
            <legend>Start a New Thread</legend>
            <input type="hidden" name="boardId" value="@Model.ShortName" />
            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    <input class="form-control" id="name" type="text" name="name" placeholder="Anonymous">
                </div>
            </div>
            <div class="form-group">
                <label for="subject" class="col-lg-2 control-label">Subject</label>
                <div class="col-lg-10">
                    <input class="form-control" id="subject" type="text" name="subject">
                </div>
            </div>
            <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Message</label>
                <div class="col-lg-10">
                    <textarea class="form-control" name="text" rows="3" id="textArea"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <div class="g-recaptcha" data-sitekey="6LecXTsUAAAAAAc_NMKRbAQtKPWtpopuy_F4SCL0"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </div>
        </fieldset>
    }
</div>
