@model Tuple<IEnumerable<WebApplication.Models.BoardModel>, WebApplication.Models.PageStatisticsModel, WebApplication.Models.VisitModel>

@{
    ViewBag.Title = "Forum";
}
@Styles.Render("~/Styles/forum")
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<ul class="list-group col-md-4 col-md-offset-4">
    <li class="list-group-item">
        <span class="badge">@(Model.Item2?.AllVisits ?? 1)</span>
        All visits
    </li>
    <li class="list-group-item">
        <span class="badge">@(Model.Item2?.VisitsToday ?? 1)</span>
        Visits today
    </li>
    <li class="list-group-item">
        <span class="badge">@(Model.Item3?.LastVisit ?? DateTime.UtcNow)</span>
        Last visit
    </li>
</ul>

<div class="col-md-6 col-md-offset-3">
    Boards
    <div class="list-group">
        @foreach (var b in Model.Item1)
        {
            <a class="list-group-item" href="@Url.Action("Board", "Forum", new {boardId = b.ShortName})">@($"{b.Name}")</a>
        }
    </div>
</div>

<div class="well col-md-6 col-md-offset-3">
    @using (Html.BeginForm("AddBoard", "Forum", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <fieldset>
            <legend>Add board</legend>
            <div class="form-group">
                <label for="shortName" class="col-lg-2 control-label">Short name</label>
                <div class="col-lg-10">
                    <input class="form-control" id="shortName" type="text" name="shortName">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    <input class="form-control" id="name" type="text" name="name">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </fieldset>
    }
</div>
