@model WebApplication.Models.ThreadModel

@{
    ViewBag.Title = "/" + Model.BoardName + "/ - " + Model.Posts.First().Topic;
}
@Styles.Render("~/Styles/forum")
<script src="https://www.google.com/recaptcha/api.js?hl=en" async defer></script>

<a href="@Url.Action("Board", new {boardId = Model.BoardId})">[Back]</a>
<hr />
@{
    var firstPost = Model.Posts.First();
    <div class="post-container">
        <div class="post first-post">
            <div class="post-header"><b>@firstPost.Topic</b> @firstPost.Username @firstPost.Timestamp No.@firstPost.Id</div>
            <div class="post-message">@Html.Raw(firstPost.Text)</div>
        </div>
    </div>
    foreach (var data in Model.Posts.Select((e, i) => new {Index = i, Post = e}).Skip(1))
    {
        <div class="post-container">
            <div class="post">
                <div class="post-header">@data.Post.Username @data.Post.Timestamp #@(data.Index+1) No.@data.Post.Id</div>
                <div class="post-message">@Html.Raw(data.Post.Text)</div>
            </div>
        </div>
    }
}
<hr />

<div id="refresh" data-url="@Url.Action("GetNewPosts")" data-thread-id="@Model.Id"></div>


<div class="well col-md-6 col-md-offset-3">
    @using (Html.BeginForm("AddPost", "Forum", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <fieldset>
            <legend>Reply to thread No.@Model.Posts.First().Id</legend>
            <input type="hidden" name="threadId" value="@Model.Id" />
            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    <input class="form-control" id="name" type="text" name="name" placeholder="Anonymous">
                </div>
            </div>
            <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Message</label>
                <div class="col-lg-10">
                    <textarea class="form-control" name="text" rows="3" id="textArea"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <div class="g-recaptcha" data-sitekey="6LecXTsUAAAAAAc_NMKRbAQtKPWtpopuy_F4SCL0"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </div>
        </fieldset>
    }
</div>


@Scripts.Render("~/Scripts/jquery")
@Scripts.Render("~/Scripts/forum")
