<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Styles/css")
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="positioner navigation-menu">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Gallery", "Gallery", "Home")</li>
                </ul>
            </div>
        </div>
        @RenderBody()
        <div class="buffer"></div>
    </div>
    <div class="footer">
        <hr />
        &copy; @DateTime.Now.Year - Some useless footer
    </div>
</body>
</html>
